{% extends 'bootstrap.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            {{ dump(session) }}
        </div>
        <div class="col-md-6 col-md-offset-3">
            <a href="http://localhost:9000/logout" class="btn btn-danger btn-block">Cerrar sesión</a>
        </div>

    </div>
{% endblock %}